/* Board device page */

.board-device > div {
    margin-inline: 0.5rem;
}

.board-device .device-name {
    width: 7rem;
}

.board-device .device-info {
    width: 4rem;
}

.board-device .device-menu {
    margin-left: auto;
}


/* Icons */
@keyframes star-tumble {
    0% {
        transform: translateX(4em) rotate(144deg);
    }
    100% {
        transform: translateX(0) rotate(0);
    }
}

@keyframes star-pulse {
    0% {
        scale: 1.0;
    }
    60% {
        scale: 1.0;
    }
    70% {
        scale: 1.2;
    }
    80% {
        scale: 1.0;
    }
    90% {
        scale: 1.2;
    }
    100% {
        scale: 1.0;
    }
}

@keyframes star-grow {
    0% {
        width: 0;
        min-width: 0;
        min-height: 0;
    }
    100% {
        width: 2em !important;
        min-width: 3em;
        min-height: 3em;
    }
}

.star-container {
    animation: 1s ease-in-out 6s both star-grow;
}

.star {
    width: 100%;
    animation: 1s ease-in-out 6s both star-tumble, 3s ease-in-out 3s infinite star-pulse;
}

.star:hover {
    fill: rgb(250 204 21);
}
